.location_ratings {
  display: flex;
  justify-content: flex-end;
  .fa-star {
    color: #cecece;
    font-size: 25px;
    margin-left: 8px;

    @media screen and (max-width: 640px) {
      font-size: 15px;
    }

    @media screen and (max-width: 400px) {
      font-size: 13px;
      margin-left: 5px;
    }

    &.red {
      color: #ff6060;
    }
  }
}
