$large-value: 2rem;
$small-value: 1rem;

.tiles {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: $small-value;
  margin-bottom: $small-value;
  overflow: hidden;

  @media screen and (max-width: 640px) {
    max-width: 100%;
  }

  .tileContainer {
    overflow: hidden;
    margin-bottom: $small-value * 1.5;
  }

  .tile {
    background-color: #ff6060;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
    align-items: center;

    @media screen and (max-width: 640px) {
      font-size: 13px;
    }

    &:hover {
      cursor: pointer;
    }

    p {
      margin: 0;
    }
  }
  .active {
    background-color: rgba(#cecece, 0.3);
    padding: 1rem;
    padding-top: calc(1rem + 10px);
    position: relative;
    z-index: -1;
    font-size: 18px;
    top: -10px;
    line-height: 1.6em;
    animation: ouverture 1s;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 1s ease, padding 1s ease;
    
    @media screen and (max-width: 640px) {
      font-size: 13px;
    }

    &.close {
      max-height: 0;
      padding: 0 1rem;
    }
  }

  .activeContent {
    transition: height 1s ease, padding 1s ease;
  }

  .fa-chevron-up {
    transition: transform 0.3s ease-in-out;
  }

  .fa-chevron-up.rotate {
    transform: rotate(180deg);
  }
}

.location_collapses {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    justify-content: center;
  }

  .tileContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media screen and (max-width: 960px) {
      width: 100%;
      margin-bottom: $small-value;
    }

    .tile {
      background-color: #ff6060;
      color: #ffffff;
      padding: 10px 20px;
      font-size: 24px;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      position: relative;
      align-items: center;

      @media screen and (max-width: 640px) {
        font-size: 13px;
      }

      &:hover {
        cursor: pointer;
      }

      p {
        margin: 0;
      }
    }
    .active {
      background-color: rgba(#cecece, 0.3);
      padding: 1rem;
      padding-top: calc(1rem + 10px);
      position: relative;
      z-index: -1;
      font-size: 18px;
      top: -10px;
      line-height: 1.6em;
      animation: ouverture 1s;
      max-height: 1000px;
      overflow: hidden;
      transition: max-height 1s ease, padding 1s ease;

      @media screen and (max-width: 640px) {
        font-size: 13px;
      }

      &.close {
        max-height: 0;
        padding: 0 1rem;
      }
    }

    .activeContent {
      transition: height 1s ease, padding 1s ease;
    }

    .fa-chevron-up {
      transition: transform 0.3s ease-in-out;
    }

    .fa-chevron-up.rotate {
      transform: rotate(180deg);
    }
  }
}

@keyframes ouverture {
  0% {
    transform: translateY(-100%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes fermeture {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0.1;
  }
}